h1 {
  text-align: center;
  color: deeppink;
}

p {
  font-size: 21px;
  color: #0f0f0f;
}

h2 {
  background-color: crimson;
  color: white;
}

a {
  font-size: 18px;
  font-weight: bold;
  color: darkslategray;
}

nav {
  background-color: tan;
}

footer {
  text-align: center;
}